#extensiones de archivos generados de visual studio para ignorar:
#las dll y los exe se deberian volver a generar en cada maquina luego de correr el proyecto
#los cache no se deberian subir, el .suo es informacion personal del framework
*.dll
*.suo
*.exe
*.cache